<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.CartMapper">


    <insert id="createCart">
        insert into cart(cart_no, member_no) values(seq_cart.nextval,(select member_no from member where email = #{email} ))
    </insert>

</mapper>