<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.LectureMapper">


    <select id="getLectureList">
        select * from Lecture
    </select>

    <update id="checkCapacityAndIncreaseCurrentEnrollment">
        update lecture set currentEnrollment = currentEnrollment + 1
            where lecture_no = #{lectureNo} and currentEnrollment &lt; capacity
    </update>

    <!--넘어오는 값이 registration_no라서 서브쿼리 만들기-->
    <update id="decreaseCurrentEnrollment">
        update lecture set currentEnrollment = currentEnrollment-1
            where lecture_no =
                  (select lecture_no from registration where registration_no = #{registrationNo})
    </update>

</mapper>