<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.mapper.RegistrationMapper">


    <select id="getRegistrationList" resultType="com.course.dto.registration.RegistrationResponse">
        select * from lecture L join registration R on L.lecture_no = R.lecture_no where member_no = #{memberNo}
    </select>

    <insert id="registerLecture">
        insert into registration(registration_no,member_no,lecture_no,created_at)
        values(seq_registration.nextval,#{memberNo},#{lectureNo},systimestamp)

    </insert>

    <delete id="cancelRegistration">
        delete
        from registration
        where member_no = #{memberNo}
          and registration_no = #{registrationNo}
    </delete>

    <select id="checkIsAlreadyRegistered">
        select count(*) from registration where member_no = #{memberNo} and lecture_no = #{lectureNo}
    </select>
</mapper>